{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div id='hotel-adder'>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">
                <!-- {% for hotel in hotels %}
                     <option value="{{hotel.id}}">{{hotel.name}}</option>
                {% endfor %} -->
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right" >+</button>
          </div>
          <div id='restaurant-adder'>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">
                <!-- {% for restaurant in restaurants %}
                     <option value="{{restaurant.id}}">{{restaurant.name}}</option>
                {% endfor %} -->
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div id='activity-adder'>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">
                <!-- {% for activity in activities %}
                     <option value="{{activity.id}}">{{activity.name}}</option>
                {% endfor %} -->
            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right" >+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h6>
        <span id="day-title">
          <!--New Days Added Here-->
        </span>
      </h6>
      <div id="day-title" class="add-day">
        <button data-action="add" class="btn btn-primary">Add a Day</button>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <!-- <button class="btn btn-circle day-btn">1</button>
            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button> -->
          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group" id="hotel-list-group">
                <!-- itinerary list stuff -->
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group" id="restaurant-list-group">
                <!-- itinerary list stuff -->
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group" id="activity-list-group">
                <!-- itinerary list stuff -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--hack -->
<script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
</script>


{% endblock %}
